.canvas-node-timestamp {
    position: absolute;
    left: 0;
    bottom: 0; 
    transform: translate(0, +130%) scale(var(--zoom-multiplier));
    transform-origin: bottom left;
    max-width: calc(100% / var(--zoom-multiplier));
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--canvas-card-label-color);
    --icon-size: 1em;
}

.canvas-node-timestamp.canvas-node-timestamp-hide {
    display: none;
}

.canvas-edge-timestamp {
    color: var(--canvas-card-label-color);
}

.canvas-edge-timestamp.canvas-edge-timestamp-hide {
    display: none;
}